body{
  background-color: #4b4a4a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar{
  display: flex;
  justify-content: space-between; /* Pushes logo to left, links to right */
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  color: white;
 }
 .nav-links {
  display: flex;
  list-style: none;
}

/* Add spacing between links */
.nav-links li {
  margin-left: 20px;
}

/* Link Styling */
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

/* Hover Effect */
.nav-links a:hover {
  color: #ff9900;
}

#section{
  margin-left: 10px;
  margin-top: 40px;
}
.container{
  padding: 10px;
  color:#a8a0a0;
  width: 99%;
  height: 200px;
  border-radius: 10px;
  background-color: #222222;
  display: flex;
}
.container h2{
  margin-left: 20px;
  padding: 80px;
  text-align: center;
}
.genre{
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.genre h4{
  text-indent: 100px;
}
.genre h4:hover{
  color: #d8f0c2;
}

.popular{
  text-align: center;
  margin-bottom: 20px;
}
.popular h2{
    margin: 50px;
    color: #a8a0a0;
}

* {
  box-sizing: border-box;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #a8a0a0;
  
}

div.gallery-item {
  margin: 5px;
  margin-left: 10px;
  border: 1px solid #c28d8d;
  width: calc(25% - 20px);
  background-color: #222222;
}

div.gallery-item:hover {
  border: 1px solid #d8f0c2;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}